@model BCInsight.Models.PendingAttendanceViewModel

<html>
<head>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    <style>

        .red-border {
            border: 1px solid red;
        }

        .dropdown-check-list1 {
            display: inline-block;
            width: 100%;
        }

        .anchor1 {
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        .dropdown-check-list1 .anchor1 {
            position: relative;
            cursor: pointer;
            display: inline-block;
            padding: 5px 30px 5px 15px;
            border: 1px solid #ccc;
            width: 100%;
        }

            .dropdown-check-list1 .anchor1:after {
                position: absolute;
                content: "";
                border-left: 2px solid black;
                border-top: 2px solid black;
                padding: 5px;
                right: 10px;
                top: 20%;
                -moz-transform: rotate(-135deg);
                -ms-transform: rotate(-135deg);
                -o-transform: rotate(-135deg);
                -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg);
            }

            .dropdown-check-list1 .anchor1:active:after {
                right: 8px;
                top: 21%;
            }

        .dropdown-check-list1 ul.items1 {
            padding: 5px 10px 2px 10px;
            display: none;
            margin: 0;
            border: 1px solid #ccc;
            border-top: none;
        }

            .dropdown-check-list1 ul.items1 li {
                list-style: none;
            }

        .dropdown-check-list1.visible .anchor1 {
            color: black;
        }

        .dropdown-check-list1.visible .items1 {
            display: block;
        }

        .DEPTListItem {
            margin: 0px;
            padding-left: 5px;
            font-weight: normal !important;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        ul#ulDOPMItem {
            max-height: 300px;
            overflow: auto;
        }
    </style>
</head>
<body>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Adjust Attendance</h1>
                </div><!-- /.col -->
                @*<div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                            <li class="breadcrumb-item active"><a href="@Url.Action("Index","PendingAttendance")">PendingAttendance</a></li>
                        </ol>
                    </div>*@<!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <div class="card card-info">


        @*/.card-header*@
        <!-- form start -->
        @using (Html.BeginForm("Index", "PendingAttendance", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(c => c.Id)
            <div class="card-body">
                <span style="color:green">@TempData["success"]</span>
                <span style="color:red">@TempData["duplicate"]</span>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Users<span class="requiredSign">*</span></label>
                    <div class="col-sm-10">
                        <div id="list2" class="dropdown-check-list1" tabindex="100">
                            @*@Html.HiddenFor(x => x.DeaprtmentName)*@
                            <span class="anchor1 form-control" id="spanDOPM">Select User</span>
                            <ul class="items1" id="ulDOPMItem">
                                @if (ViewBag.Userlist != null)
                                {
                                    var deptlist = (List<SelectListItem>)ViewBag.Userlist;
                                    if (deptlist == null)
                                    {
                                        <li>
                                            <label class="DEPTListItem">No Department found</label>
                                        </li>
                                    }
                                    else
                                    {
                                        foreach (var item in deptlist)
                                        {
                                            string deptid = "deptId_" + item.Value;
                                            if (item.Selected)
                                            {
                                                <li>
                                                    <input type="checkbox" name="@item.Text" class="cbuser" id="@deptid" value="@item.Value" checked="checked">
                                                    <label for="@deptid" class="DEPTListItem">@item.Text</label>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <input type="checkbox" name="@item.Text" class="cbuser" id="@deptid" value="@item.Value">
                                                    <label for="@deptid" class="DEPTListItem">@item.Text</label>
                                                </li>
                                            }
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <span class="error roleError"></span>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">FromDate<span class="requiredSign">*</span></label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(c => c.FromDate, new { @type = "text", @class = "form-control", placeholder = "FromDate", autocomplete = "off", @id = "fromdate" })
                        @Html.ValidationMessageFor(m => m.FromDate, "", new { @class = "error" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">ToDate<span class="requiredSign">*</span></label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(c => c.ToDate, new { @type = "text", @class = "form-control", placeholder = "ToDate", autocomplete = "off", @id = "todate" })
                        @Html.ValidationMessageFor(m => m.ToDate, "", new { @class = "error" })
                    </div>
                </div>

                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="button" id="btnSave" class="btn btn-primary">SAVE</button>
                    <a type="button" href="@Url.Action("Index", "PendingAttendance")" class="btn btn-default float-right">
                        CANCEL
                    </a>
                </div>
                <!-- /.card-footer -->

            </div>
        }
    </div>
</body>

</html>

@*<script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>*@
<script>
    $(document).ready(function () {
        $("#fromdate").datepicker({
            dateFormat: 'dd-mm-yy'
        });
        $("#todate").datepicker({
            dateFormat: 'dd-mm-yy'
        });



            var DEPTcheckList = document.getElementById('list2');
            DEPTcheckList.getElementsByClassName('anchor1')[0].onclick = function (evt) {
                if (DEPTcheckList.classList.contains('visible'))
                    DEPTcheckList.classList.remove('visible');
                else
                    DEPTcheckList.classList.add('visible');
            }
    });
    var userlist = '';
    $('.cbuser').change(function () {
        userlist = '';
        $(".cbuser").each(function (i, e) {
            if (this.checked) {
                if (i == 0) {
                    userlist = $(this).attr('name');
                }
                else {
                    userlist = userlist + ", " + $(this).attr('name');
                }
            }
        });
        $('#spanDOPM').text(userlist);
        if (userlist == '') {
            $('#spanDOPM').text('Select User');
        }
    });

    var todate = '';
    var fromdate = '';

    $("#btnSave").click(function () {
        debugger;
        $(".errorMsg").text('');

          var id = 0;
        id = parseInt($("#Id").val());
        fromdate = $("#fromdate").val();
        todate = $("#todate").val();


        var userIds = '';
        $(".cbuser").each(function (e, i) {
            if (i.checked)
                userIds = userIds + "," + i.value;
        });

        var iserror = false;

        if (userIds == '') {
            iserror = true;
            $("#list2").addClass("red-border");
        }
        if (todate == '') {
            iserror = true;
            $("#todate").addClass("red-border");
        }
        if (fromdate == '') {
            iserror = true;
            $("#fromdate").addClass("red-border");
        }

        if (!iserror) {

            var model = {
                Id: id,
                FromDate: fromdate,
                ToDate: todate,
                Users: userIds
            };

            $.ajax({
                type: 'post',
                data: model,
                url: '@Url.Action("Index", "PendingAttendance")',
                success: function (data) {
                    debugger;
                    var url = '@Url.Action("Index", "PendingAttendance")';
                        window.location.href = url;
                }
            });
        }
    });
</script>


