@model BCInsight.Models.SiteViewModel

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Site</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="breadcrumb-item active"><a href="@Url.Action("Index","Site")">Site</a></li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Horizontal Form -->
<div class="card card-info">
    <div class="card-header">
        @if (Model != null && Model.Id != 0)
        {
            <h3 class="card-title">Update - Site</h3>
        }
        else
        {
            <h3 class="card-title">Add - Site</h3>
        }
        <a type="button" class="float-right" href="@Url.Action("Index","Site")">BACK <i class="fas fa-reply"></i></a>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    @using (Html.BeginForm("AddSite", "Site", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(c => c.Id)

        <div class="card-body">

            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Name<span class="requiredSign">*</span></label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(c => c.Name, new { @type = "text", @class = "form-control", placeholder = "Name", autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "error" })
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Address<span class="requiredSign">*</span></label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(c => c.Address, new { @type = "text", @class = "form-control", placeholder = "Address", autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "error" })
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Latitude<span class="requiredSign">*</span></label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(c => c.Latitude, new { @type = "text", @class = "form-control", placeholder = "Latitude", @maxLength = "40", autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Latitude, "", new { @class = "error" })
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Longitude<span class="requiredSign">*</span></label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(c => c.Longitude, new { @type = "text", @class = "form-control", placeholder = "Longitude", @maxLength = "40", autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Longitude, "", new { @class = "error" })
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Remarks</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(c => c.Remarks, new { @type = "text", @class = "form-control", placeholder = "Remarks", @maxLength = "40", autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Remarks, "", new { @class = "error" })
                </div>
            </div>
            @if (Model.Id > 0)
            {
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Is Close</label>
                    <div class="col-sm-10">
                        @Html.CheckBoxFor(c => c.IsClosed)
                    </div>
                </div>
            }

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            @if (Model.Id == 0)
            {
                <button type="submit" class="btn btn-primary">SAVE</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary">UPDATE</button>
            }
            <a type="button" href="@Url.Action("Index","Site")" class="btn btn-default float-right">
                CANCEL
            </a>
        </div>
        <!-- /.card-footer -->
    }
</div>