@model BCInsight.Models.UserViewModel
@{
    ViewBag.Title = "Change Password";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

                <h1 class="m-0">Change Password</h1>

            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Horizontal Form -->
<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Change Password</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="card-body">
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">UserName <span class="requiredSign">*</span></label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(c => c.UserName, new
               {
                   @type = "text",
                   @class = "form-control",
                   placeholder = "UserName or Email",
                   @maxLength = "50",
               })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "error" })
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Old Password <span class="requiredSign">*</span></label>
                <div class="col-sm-10">
                    <div class="input-group" id="show_hide_password">
                        @Html.TextBoxFor(c => c.Password, new { @type = "Password", @class = "form-control fas fa-eye", placeholder = "Password", @maxLength = "50" })
                        <div class="input-group-addon">
                            <span class="fas fa-eye-slash form-control" aria-hidden="true"></span>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">new Password <span class="requiredSign">*</span></label>
                <div class="col-sm-10">
                    <div class="input-group" id="show_hide_password">
                        @Html.TextBoxFor(c => c.Newpassword, new { @type = "Password", @class = "form-control fas fa-eye", placeholder = "New Password", @maxLength = "50" })
                        <div class="input-group-addon">
                            <span class="fas fa-eye-slash form-control" aria-hidden="true"></span>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.Newpassword, "", new { @class = "error" })
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
        <div class="login-error" style="color:red;">@TempData["loginfail"]</div>
        <!-- /.card-footer -->
    }
</div>
<!-- /.card -->
<!-- jQuery -->
<script src="~/plugins/jquery/jquery.min.js"></script>
<script>
    $(function () {
        $("#Showhidepassword").click(function () {
            if ($('#Password').attr("type") == "text") {
                $('#Password').attr('type', 'password');
                $('#Showhidepassword').addClass("fa-eye-slash");
            }
            else {
                $('#Password').attr('type', 'text');
                $('#Showhidepassword').addClass("fa-eye");
            }
        });
    });

</script>